*.pyc
node_modules
.venv
/venv
./venv
.env
env
/env
./env
*.swp
*.swo
*.mo
tags
.vimrc
/logs
!Frontend/package.json
tags.temp
tags.lock
tags.files
celerybeat-schedule
celerybeat.pid
build.cache
libraries.cache
ngrok.exe
/.vscode
.vscode
.vscode/*
